*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5837D0;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container .form{
    padding: 30px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #5837D0;
    border-radius: 25px;
}

.form .mb-3{
    position: relative;
    height: 50px;
    width: 100%;
}

.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    accent-color: #3a0ae5;
    margin: 0 8px -2px 4px;
    cursor: pointer;
}

.form a.text{
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.form .login-signup{
    text-align: center;
}